body{
	background: #f8f9fb;
}
/////////////////navbar/////////////
.navbar{
	background: #05698b;
	z-index: 1;
	box-shadow: 0px 10px 15px #032f3e;
	border: none !important;
	font-family: 'Heebo', sans-serif;
	ul{
		background: #05698b !important; 
	}
	li{
		background: #05698b !important;
		
		a{
			color: white !important;
			
			&:hover{
				color: #032f3e !important;
			}
		}
	}
	.logo{
		height: 30px;
		z-index: 2;
	}
}
//////////////////HEADER//////////////////////////
header{
	position: relative;
	top: -30px;
	height: 630px;
	width: 100%;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	p{
		font-size: 50px;
		color: whitesmoke;
		font-family: 'Playfair Display SC', serif;
		margin-bottom: 60px;
	}
	img{
		width: 100px;
	}
}
//////////////////SECTION ONE/////////////////////
#sectionOne{
	.container{
		margin: auto;
	}
}
.service1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	p{
		color: darkgrey;
		width: 80%;
		margin: auto;
	}
	h3{
		font-weight: 800 !important;
	}
	img{
		width: 30px;
		margin: 20px auto;
	}
}
.service2{
	margin: auto;
	div[class^="s-"]{
	width: 80%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	margin: 0;
	padding: 0;
}
	div[class^="col-"]{
	margin: auto;
	text-align: center;
}
	p{
		margin-top: 30px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 80px;
	}
}


.s-1{
	background-image: url(../img/s1.png);
	&:hover{
		background-image: url(../img/s1a.png);
	}
}
.s-2{
	background-image: url(../img/s2.png);
	&:hover{
		background-image: url(../img/s2a.png);
	}
}
.s-3{
	background-image: url(../img/s3.png);
	&:hover{
		background-image: url(../img/s3a.png);
	}
}